In [ ]:
pip install nba_api

In [23]:
from nba_api.stats.endpoints import teamyearbyyearstats
from nba_api.stats.static import teams
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
# Get all teams
nba_teams = teams.get_teams()

# Create a DataFrame with team names and IDs
team_df = pd.DataFrame(nba_teams)
team_df = team_df[['full_name', 'id']]

team_df

                 full_name          id
0            Atlanta Hawks  1610612737
1           Boston Celtics  1610612738
2      Cleveland Cavaliers  1610612739
3     New Orleans Pelicans  1610612740
4            Chicago Bulls  1610612741
5         Dallas Mavericks  1610612742
6           Denver Nuggets  1610612743
7    Golden State Warriors  1610612744
8          Houston Rockets  1610612745
9     Los Angeles Clippers  1610612746
10      Los Angeles Lakers  1610612747
11              Miami Heat  1610612748
12         Milwaukee Bucks  1610612749
13  Minnesota Timberwolves  1610612750
14           Brooklyn Nets  1610612751
15         New York Knicks  1610612752
16           Orlando Magic  1610612753
17          Indiana Pacers  1610612754
18      Philadelphia 76ers  1610612755
19            Phoenix Suns  1610612756
20  Portland Trail Blazers  1610612757
21        Sacramento Kings  1610612758
22       San Antonio Spurs  1610612759
23   Oklahoma City Thunder  1610612760
24         Toronto Raptors  1610612761
25               Utah Jazz  1610612762
26       Memphis Grizzlies  1610612763
27      Washington Wizards  1610612764
28         Detroit Pistons  1610612765
29       Charlotte Hornets  1610612766

In [22]:
from nba_api.stats.endpoints import teamyearbyyearstats

# Create the teamyearbyyearstats endpoint with the team_id argument
team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id='1610612747')

# Get the data from the endpoint
data = team_stats.get_data_frames()[0]

# Display the table
data

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612747,Minneapolis,Lakers,1948-49,60,44,16,0.733,0,2,...,0,0,0,1134,1386,0,0,0,5042,1
1,1610612747,Minneapolis,Lakers,1949-50,68,51,17,0.750,0,1,...,0,0,0,1406,1672,0,0,0,5717,1
2,1610612747,Minneapolis,Lakers,1950-51,68,44,24,0.647,0,1,...,0,0,0,1408,1801,0,0,0,5632,8
3,1610612747,Minneapolis,Lakers,1951-52,66,40,26,0.606,0,2,...,0,0,0,1389,1763,0,0,0,5648,5
4,1610612747,Minneapolis,Lakers,1952-53,70,48,22,0.686,0,1,...,0,0,0,1351,1917,0,0,0,5943,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1610612747,Los Angeles,Lakers,2019-20,71,52,19,0.732,1,1,...,757,2490,3247,1803,1471,612,1077,468,8054,16
72,1610612747,Los Angeles,Lakers,2020-21,72,42,30,0.583,7,3,...,695,2490,3185,1775,1377,562,1095,386,7887,22
73,1610612747,Los Angeles,Lakers,2021-22,82,33,49,0.402,11,4,...,782,2826,3608,1968,1654,626,1191,425,9192,11
74,1610612747,Los Angeles,Lakers,2022-23,82,43,39,0.524,7,5,...,818,2930,3748,2072,1466,526,1154,378,9608,6
75,1610612747,Los Angeles,Lakers,2023-24,34,17,17,0.500,10,4,...,290,1191,1481,931,579,263,471,191,3884,11